.Dropdown {
  color: white;
}

.Dropdown_Top {
  height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  font-size: 1.005rem;
  cursor: pointer;
  background: red;
}

.Dropdown_List {
  display: flex;
  flex-direction: column;
  transition: all 0.3 ease-in-out;
}

.Dropdown_List a {
  font-size: 0.91rem;
  padding: 0.8rem 0 0 0.5rem;
  color: white;
  transition: all 0.3 ease-in-out;
  display: flex;
  align-items: center;
}

.Dropdown_List a:hover {
  background: #1677ff;
}
